<?xml version="1.0"?>
<!-- Demonstration of the various tags used in Web.config -->
<configuration>

  <!-- 1. Custom application settings (key / value) -->
  <appSettings>
    <add key="CollegeName" value="ABC College Of Science"/>
    <add key="PageSize" value="10"/>
  </appSettings>

  <!-- 2. Database connection strings -->
  <connectionStrings>
    <add name="MyDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LabDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <!-- 3. Compilation settings -->
    <compilation debug="true" targetFramework="4.7.2"/>

    <!-- 4. Custom error pages -->
    <customErrors mode="On" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="NotFound.aspx"/>
      <error statusCode="500" redirect="ServerError.aspx"/>
    </customErrors>

    <!-- 5. Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30"/>
    </authentication>

    <!-- 6. Authorization : deny anonymous users -->
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>

    <!-- 7. Session state -->
    <sessionState mode="InProc" timeout="20" cookieless="false"/>

    <!-- 8. Default theme and master page for all pages -->
    <pages theme="BlueTheme" enableViewState="true" validateRequest="true"/>

    <!-- 9. Globalization -->
    <globalization culture="en-IN" uiCulture="en-IN"/>

    <!-- 10. Trace -->
    <trace enabled="false" pageOutput="false" requestLimit="10"/>

    <!-- 11. HTTP runtime limits -->
    <httpRuntime maxRequestLength="4096" executionTimeout="110"/>
  </system.web>

  <!-- 12. Settings applied only to a particular file/folder -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
